{{- define "title" }}
{{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}

<style scoped>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .my-tag {
        color: white !important;
        background-color: black;
        padding: .5em 1em;
        border-radius: .35em;
    }
</style>
<div class="archive">
    {{$pageName := .Page.Name}}


    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="single-title" style="display:flex; justify-content: center; text-transform:capitalize">
        {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
    </h2>

    <div style="height: 6px;"></div>


    {{- if or (eq $pageName "Projects") (eq .Page.Type "categories") -}}
    {{- else -}}
    <center>
        <br>
        <a href="https://medium.com/@rei-codes">
            <img style="padding: 15px 15px; background-color:white; border-radius:16px"
                src="https://miro.medium.com/max/8978/1*s986xIGqhfsN8U--09_AdA.png" alt="medium-logo" height="80"
                width="320">
        </a>
        <h3>Until I mirror my articles here, you can read them on Medium</h3>
    </center>
    {{- end -}}

    <center>
        <h4 style="font-weight: normal;">
            {{- if or (eq $pageName "Projects") (eq .Page.Type "categories") -}}
            The projects that I made from scratch or involved in!
            {{ else }}
            {{/* Articles about Programming, Design, Flutter and cutting-edge technologies! */}}
            {{- end -}}
        </h4>
    </center>
    <br>
    <center>
        <div class="tag-cloud-tags">
            {{- if (eq $pageName "Projects") -}}
            {{- range $.Site.Taxonomies.categories.ByCount -}}
            <a class="my-tag" href="{{ .Page.RelPermalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a>
            {{- end -}}
            {{else}}
            {{/* {{- range $.Site.Taxonomies.tags.ByCount -}}
            <a class="my-tag" href="{{ .Page.RelPermalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a>
            {{- end -}} */}}
            {{end}}
        </div>
    </center>
    <br>
    <br>





    <div class="container">
        {{- range .Pages -}}
        {{- if (eq $pageName "Projects") -}}
        {{- .Render "project" -}}
        {{- else -}}
        {{/* {{- .Render "article" -}} */}}
        {{- end -}}
        {{- end -}}

    </div>

    {{/* {{- partial "paginator.html" . -}} */}}
    {{/* {{- partial "work-with-me.html" . -}} */}}

</div>


{{- end -}}