<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2 class="my-h2">Would you like to work with me?</h2>
  <div style="height: 8px;"></div>
  <p class="my-p">I’m open for new job opportunities and freelancer works!</p>
  <div style="height: 32px;"></div>
  <div class="my-button">
    <a style="color: white;" href="mailto:hasanbb1567@gmail.com">CONTACT</a>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>

<style>
  .my-h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .my-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .my-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .my-button a {
    background: #000000;
    padding: 6px 24px;
    border-radius: 9px;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
  }
</style>